.containsnic {
    background: #f5f9ff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding-top: 47px;
    padding-left: 28px;
    padding-right: 28px;
}

.cnicback {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 132%;
    color: #95a7c6;
}

.cnicscreentitle {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 278;
    font-size: 32px;
    line-height: 111%;
    color: #35568d;

    margin-bottom: 0px;
    margin-top: 16px;
}

.nicscreentitle {
    margin-bottom: 0px;
}

.cnicscreentitlw2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 445;
    font-size: 32px;
    line-height: 111%;
    color: #35568d;
}

.nationalfont {
    margin-bottom: 20px;
}

.cnicinbar {
    width: 100%;
    height: 4px;
    background-color: #4ddfbc;
}

.cnibarscreenbar {
    width: 100%;
    height: 4px;
    background-color: #4ddfbc;
}

.nicdescription {
    margin-top: 14px;
    margin-bottom: 14px;
}

.cnicnationaltextpara {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 132%;

    color: #95a7c6;
    margin-bottom: 0px;
}

.tinytextinnicscreen {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 132%;
    color: #95a7c6;
}

.inputsinpersocnicscreens {
    border: none;
    border-bottom: 3px solid #35568d;
    padding: 5px 10px;
    outline: none;
    background: none;
    width: 100%;
    height: 40px;
    font-size: 22px;
    color: #35568d;
    margin-bottom: 20px;
}

.inputsincnicscreengender {
    border: none;
    border-bottom: 3px solid #35568d;
    padding: 5px 10px;
    outline: none;
    background: none;
    width: 90%;
    height: 40px;
    font-size: 22px;
    color: #35568d;
    margin-bottom: 20px;
}

.inputsincnicscreenstay {
    border: none;
    border-bottom: 3px solid #35568d;
    padding: 5px 10px;
    outline: none;
    background: none;
    width: 100%;
    height: 40px;
    font-size: 22px;
    color: #35568d;
    margin-bottom: 20px;
}

.nicscreenstick {
    width: 100%;
    position: fixed;
    bottom: 4%;
}

.buttonincnicscreen {
    width: 100%;

    margin-top: 236px;

    height: 56px;

    background-color: #f5f9ff;
    box-shadow: 0px 4px 32px rgba(6, 45, 80, 0.1);
    border-radius: 16px;
}

.continuecnicscreen {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 132%;
    color: #35568d;
    margin-bottom: 0px;
    padding-top: 17px;

    padding-left: 40px;
}

.buttonincnicscreen2 {
    width: 100%;

    margin-top: 236px;

    height: 56px;

    background-color: #4ddfbc;
    box-shadow: 0px 4px 32px rgba(6, 45, 80, 0.1);
    border-radius: 16px;
}

.continuecnicscreen2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 132%;
    color: #ffffff;
    margin-bottom: 0px;
    padding-top: 17px;

    padding-left: 50px;
}


