.smscodecontainer {
    width: 55px;
    height: 55px;
    
    border-radius: 15px;
    background: white;
    border: 2px solid #35568D;
}

.containssms {
    background:#F5F9FF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding-top: 47px;
    padding-left:28px;
    padding-right:28px;
}
.tinytextsmsv {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 132%;
color: #95A7C6;
}

.smsvtitleone {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 278;
font-size: 32px;
line-height: 111%;
color: #35568D;

margin-bottom: 0px;
margin-top: 16px;
}

.smsvtext {
    margin-top: 14px;
    margin-bottom: 14px;
}

.smsvscreentitletwo {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 445;
    font-size: 32px;
    line-height: 111%;
    color: #35568D;
}

.smsvscreenv {
    margin-bottom: 20px;
}

.insidesmsv {
    width: 100%;
    height: 4px;
    background-color: #4DDFBC;
}

.barinsmsv {
     
    width: 100%;
    height: 4px;
    background-color: #35568D;
}

.containssmsv {
    margin-top: 14px;
    margin-bottom: 14px;
}

.smstextpara {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 132%;
    
    color: #95A7C6;
    margin-bottom: 0px;
}

.smsvendbutton {
    width: 100%;
   
   
    margin-top: 152px;



    height: 56px;

    background-color: #4DDFBC;
    box-shadow: 0px 4px 32px rgba(6, 45, 80, 0.1);
    border-radius: 16px;
}

.confirmsmsv {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 132%;
    color: #FFFFFF;
    margin-bottom: 0px;
    padding-top: 17px;
    
padding-left: 136px;
}

.resendsms {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 132%;
    color: #4DDFBC;
    text-decoration: underline;
    margin-bottom: 0px;

    margin-top: 44px;

}

.resendsmstwo {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 132%;
    color: #95A7C6;
    
    margin-bottom: 0px;
}

.inputsinsms {
    border:none;
    /* border-bottom: 3px solid #35568D; */
    padding: 5px 10px;
    outline: none;
    background: none;
    width: 100%;
    height: 40px;
    font-size: 22px;
    color: #35568D;
    padding-top: 15px;
    text-align: center;

}

.downed {
    width: 100%;
    position: fixed;
    bottom: 4%;
}
